.c-hero {
  color: color(white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/imageBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  padding: 3rem 3rem 13rem;
  display: grid;
  position:relative;
  
  @media (min-width: 48em) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media (min-width: 62em) {
    padding-left: 11rem;
    padding-right: 11rem;
  }

  &__text {
    font-size: 5rem;
    line-height: 5rem;
    max-width: 595px;

    @media (min-width: 48em) {
      font-size: 5rem;
      line-height: 7rem;
    }

    @media (min-width: 62em) {
      font-size: 6.6rem;
      line-height: 9rem;
    }

  }


}
