/*
* Colors
*/

$colors: (
  white: #fff,
  gray: #919191,
  light-gray: #9a9a9a,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
}
